<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" -->
    <!-- href="https://res.cloudinary.com/dmnmjsr9b/raw/upload/v1626810402/framework/css_framework.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/css_framework.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">

        {% block content %}
        <p>Content goes here</p>
        {% endblock %}

    </div>
</body>

</html>