{% extends 'base.html' %}
{% block content %}
<div class="title">
    <div class="flex justify-between align-center">
        <h1>{{game.name}} Balderdash's Game</h1>
        <ul class="ul-menu">
            <li><a href="/balderdash/game/{{game.id}}/delete" class="btn">Close Game</a></li>
            <!-- <li><a href="/balderdash/{{game.id}}/delete" class="btn">Leave Game</a></li> -->
        </ul>
    </div>
    <div class="flex align-center">
        <h3>Members:</h3>
        <ul class="ul-menu player-list">
            {% for player in all_players %}
            <li player_id="{{player.id}}">{{player.username}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="main-content">
    <div>
        <button class="btn btnJs" action="form" data="word-form">Add a word</button>
    </div>
    <div class="form word-form" style="display: none;">
        <form action="" method="post">
            <div>
                <label for="word">Word</label>
                <input type="text" name="word" id="word">
            </div>
            <div>
                <label for="definition">Definition</label>
                <input type="text" name="definition" id="definition">
            </div>
            <button>Add word</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/balderdash.js')}}"></script>
<script src="{{url_for('static', filename='js/balderdash_game.js')}}"></script>
{% endblock %}