@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Otomanopee+One&family=Raleway:wght@100&display=swap");

:root {
  --primary-1: #264653;
  --primary-2: #e76f51;
  --secondary-1: #e9c46a;
  --secondary-2: #13242a;
  --accent-1: #f4a261;
  --accent-2: #2a9d8f;
  --black: black;
  --white: white;

  --font-accent: "Oswald", sans-serif;
  --font-header: "Otomanopee One", sans-serif;
  --font-normal: "Raleway", sans-serif;
}

* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: var(--font-normal);
  font-weight: 700;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.font-accent {
  font-family: var(--font-accent);
}

/* flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

/* Display */
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/* Margins */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25em;
}
.m-2 {
  margin: 0.5em;
}
.m-3 {
  margin: 0.75em;
}
.m-4 {
  margin: 1em;
}
.m-5 {
  margin: 1.5em;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25em;
}
.ml-2 {
  margin-left: 0.5em;
}
.ml-3 {
  margin-left: 0.75em;
}
.ml-4 {
  margin-left: 1em;
}
.ml-5 {
  margin-left: 1.5em;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25em;
}
.mr-2 {
  margin-right: 0.5em;
}
.mr-3 {
  margin-right: 0.75em;
}
.mr-4 {
  margin-right: 1em;
}
.mr-5 {
  margin-right: 1.5em;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25em;
}
.mt-2 {
  margin-top: 0.5em;
}
.mt-3 {
  margin-top: 0.75em;
}
.mt-4 {
  margin-top: 1em;
}
.mt-5 {
  margin-top: 1.5em;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25em;
}
.mb-2 {
  margin-bottom: 0.5em;
}
.mb-3 {
  margin-bottom: 0.75em;
}
.mb-4 {
  margin-bottom: 1em;
}
.mb-5 {
  margin-bottom: 1.5em;
}

.mlr-0 {
  margin: 0 0;
}
.mlr-1 {
  margin: 0 0.25em;
}
.mlr-2 {
  margin: 0 0.5em;
}
.mlr-3 {
  margin: 0 0.75em;
}
.mlr-4 {
  margin: 0 1em;
}
.mlr-5 {
  margin: 0 1.5em;
}

.mtb-0 {
  margin: 0 0;
}
.mtb-1 {
  margin: 0.25em 0;
}
.mtb-2 {
  margin: 0.5em 0;
}
.mtb-3 {
  margin: 0.75em 0;
}
.mtb-4 {
  margin: 1em 0;
}
.mtb-5 {
  margin: 1.5em 0;
}

/* Padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25em;
}
.p-2 {
  padding: 0.5em;
}
.p-3 {
  padding: 0.75em;
}
.p-4 {
  padding: 1em;
}
.p-5 {
  padding: 1.5em;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25em;
}
.pl-2 {
  padding-left: 0.5em;
}
.pl-3 {
  padding-left: 0.75em;
}
.pl-4 {
  padding-left: 1em;
}
.pl-5 {
  padding-left: 1.5em;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25em;
}
.pr-2 {
  padding-right: 0.5em;
}
.pr-3 {
  padding-right: 0.75em;
}
.pr-4 {
  padding-right: 1em;
}
.pr-5 {
  padding-right: 1.5em;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.25em;
}
.pt-2 {
  padding-top: 0.5em;
}
.pt-3 {
  padding-top: 0.75em;
}
.pt-4 {
  padding-top: 1em;
}
.pt-5 {
  padding-top: 1.5em;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25em;
}
.pb-2 {
  padding-bottom: 0.5em;
}
.pb-3 {
  padding-bottom: 0.75em;
}
.pb-4 {
  padding-bottom: 1em;
}
.pb-5 {
  padding-bottom: 1.5em;
}

.plr-0 {
  padding: 0 0;
}
.plr-1 {
  padding: 0 0.25em;
}
.plr-2 {
  padding: 0 0.5em;
}
.plr-3 {
  padding: 0 0.75em;
}
.plr-4 {
  padding: 0 1em;
}
.plr-5 {
  padding: 0 1.5em;
}

.ptb-0 {
  padding: 0 0;
}
.ptb-1 {
  padding: 0.25em 0;
}
.ptb-2 {
  padding: 0.5em 0;
}
.ptb-3 {
  padding: 0.75em 0;
}
.ptb-4 {
  padding: 1em 0;
}
.ptb-5 {
  padding: 1.5em 0;
}

.txt-align-center {
  text-align: center;
}
.txt-align-right {
  text-align: right;
}
.txt-align-left {
  text-align: left;
}

/* ************************ misc ********************************** */
.box {
  padding: 0.5em;
  border: 1px solid black;
}
.pill {
  border-radius: 10px;
}

.ul-menu {
  display: flex;
  list-style-type: none;
}

.ul-menu > * + * {
  margin-left: 1em;
}

/* ************************ Elements ********************************** */

button,
.btn {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--primary-2);
  color: var(--secondary-2);
  border: 1px solid black;
  border-radius: 2px;
  text-decoration: none;
}

input,
select,
textarea {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: var(--primary-1);
  color: var(--secondary-1);
  border: 1px solid black;
  border-radius: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

table,
td,
th {
  padding: 0.5em;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}

th {
  background-color: var(--primary-1);
  color: var(--secondary-1);
}

/* ************************ grid system ******************************* */
.grid-container,
.row {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100vw;
}
.row {
  grid-column: 1/12;
}

.col-full {
  grid-column: auto / span 12;
}
.col-2 {
  grid-column: auto / span 2;
}
.col-3 {
  grid-column: auto / span 3;
}
.col-4 {
  grid-column: auto / span 4;
}
.col-5 {
  grid-column: auto / span 5;
}
.col-6 {
  grid-column: auto / span 6;
}
.col-7 {
  grid-column: auto / span 7;
}
.col-8 {
  grid-column: auto / span 8;
}
.col-9 {
  grid-column: auto / span 9;
}
.col-10 {
  grid-column: auto / span 10;
}
.col-11 {
  grid-column: auto / span 11;
}
.col-12 {
  grid-column: auto / span 12;
}

.col-offset-1 {
  grid-column-start: 2;
}
.col-offset-2 {
  grid-column-start: 3;
}
.col-offset-3 {
  grid-column-start: 4;
}
.col-offset-4 {
  grid-column-start: 5;
}
.col-offset-5 {
  grid-column-start: 6;
}
.col-offset-6 {
  grid-column-start: 7;
}
.col-offset-7 {
  grid-column-start: 8;
}
.col-offset-8 {
  grid-column-start: 9;
}
.col-offset-9 {
  grid-column-start: 10;
}
.col-offset-10 {
  grid-column-start: 11;
}
.col-offset-11 {
  grid-column-start: 12;
}

/* Small Screens */
@media screen and (max-width: 425px) {
  .s-full {
    grid-column: auto / span 12;
  }
  .s-2 {
    grid-column: auto / span 2;
  }
  .s-3 {
    grid-column: auto / span 3;
  }
  .s-4 {
    grid-column: auto / span 4;
  }
  .s-5 {
    grid-column: auto / span 5;
  }
  .s-6 {
    grid-column: auto / span 6;
  }
  .s-7 {
    grid-column: auto / span 7;
  }
  .s-8 {
    grid-column: auto / span 8;
  }
  .s-9 {
    grid-column: auto / span 9;
  }
  .s-10 {
    grid-column: auto / span 10;
  }
  .s-11 {
    grid-column: auto / span 11;
  }
  .s-12 {
    grid-column: auto / span 12;
  }
  .s-offset-1 {
    grid-column-start: 2;
  }
  .s-offset-2 {
    grid-column-start: 3;
  }
  .s-offset-3 {
    grid-column-start: 4;
  }
  .s-offset-4 {
    grid-column-start: 5;
  }
  .s-offset-5 {
    grid-column-start: 6;
  }
  .s-offset-6 {
    grid-column-start: 7;
  }
  .s-offset-7 {
    grid-column-start: 8;
  }
  .s-offset-8 {
    grid-column-start: 9;
  }
  .s-offset-9 {
    grid-column-start: 10;
  }
  .s-offset-10 {
    grid-column-start: 11;
  }
  .s-offset-11 {
    grid-column-start: 12;
  }
}

/* medium Screens */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .m-full {
    grid-column: auto / span 12;
  }
  .m-2 {
    grid-column: auto / span 2;
  }
  .m-3 {
    grid-column: auto / span 3;
  }
  .m-4 {
    grid-column: auto / span 4;
  }
  .m-5 {
    grid-column: auto / span 5;
  }
  .m-6 {
    grid-column: auto / span 6;
  }
  .m-7 {
    grid-column: auto / span 7;
  }
  .m-8 {
    grid-column: auto / span 8;
  }
  .m-9 {
    grid-column: auto / span 9;
  }
  .m-10 {
    grid-column: auto / span 10;
  }
  .m-11 {
    grid-column: auto / span 11;
  }
  .m-12 {
    grid-column: auto / span 12;
  }
  .m-offset-1 {
    grid-column-start: 2;
  }
  .m-offset-2 {
    grid-column-start: 3;
  }
  .m-offset-3 {
    grid-column-start: 4;
  }
  .m-offset-4 {
    grid-column-start: 5;
  }
  .m-offset-5 {
    grid-column-start: 6;
  }
  .m-offset-6 {
    grid-column-start: 7;
  }
  .m-offset-7 {
    grid-column-start: 8;
  }
  .m-offset-8 {
    grid-column-start: 9;
  }
  .m-offset-9 {
    grid-column-start: 10;
  }
  .m-offset-10 {
    grid-column-start: 11;
  }
  .m-offset-11 {
    grid-column-start: 12;
  }
}

/* large Screens */
@media screen and (min-width: 769px) {
  .l-full {
    grid-column: auto / span 12;
  }
  .l-2 {
    grid-column: auto / span 2;
  }
  .l-3 {
    grid-column: auto / span 3;
  }
  .l-4 {
    grid-column: auto / span 4;
  }
  .l-5 {
    grid-column: auto / span 5;
  }
  .l-6 {
    grid-column: auto / span 6;
  }
  .l-7 {
    grid-column: auto / span 7;
  }
  .l-8 {
    grid-column: auto / span 8;
  }
  .l-9 {
    grid-column: auto / span 9;
  }
  .l-10 {
    grid-column: auto / span 10;
  }
  .l-11 {
    grid-column: auto / span 11;
  }
  .l-12 {
    grid-column: auto / span 12;
  }
  .l-offset-2 {
    grid-column-start: 2;
  }
  .l-offset-2 {
    grid-column-start: 3;
  }
  .l-offset-3 {
    grid-column-start: 4;
  }
  .l-offset-4 {
    grid-column-start: 5;
  }
  .l-offset-5 {
    grid-column-start: 6;
  }
  .l-offset-6 {
    grid-column-start: 7;
  }
  .l-offset-7 {
    grid-column-start: 8;
  }
  .l-offset-8 {
    grid-column-start: 9;
  }
  .l-offset-9 {
    grid-column-start: 10;
  }
  .l-offset-10 {
    grid-column-start: 11;
  }
  .l-offset-11 {
    grid-column-start: 12;
  }
}

/* ************************ color system ***************************** */
/* background */
.bg-alert {
  background-color: rgb(247, 100, 100);
}
.bg-warning {
  background-color: rgb(247, 199, 100);
}
.bg-secondary {
  background-color: slategray;
}
.bg-success {
  background-color: rgb(54, 150, 54);
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
/* text */
.txt-alert {
  color: rgb(247, 100, 100);
}
.txt-warning {
  color: rgb(247, 199, 100);
}
.txt-secondary {
  color: slategray;
}
.txt-success {
  color: rgb(54, 150, 54);
}
.txt-white {
  color: white;
}
.txt-black {
  color: black;
}

/* accents */
.txt-bold {
  font-weight: bold;
}
.txt-bolder {
  font-weight: bolder;
}

/* variable coloring */
.color-primary-1 {
  background-color: var(--primary-1);
}
.color-primary-2 {
  background-color: var(--primary-2);
}
.color-secondary-1 {
  background-color: var(--secondary-1);
}
.color-secondary-2 {
  background-color: var(--secondary-2);
}
.color-accent-1 {
  background-color: var(--secondary-1);
}
.color-accent-2 {
  background-color: var(--secondary-2);
}

.txt-primary-1 {
  background-color: var(--primary-1);
}
.txt-primary-2 {
  background-color: var(--primary-2);
}
.txt-secondary-1 {
  background-color: var(--secondary-1);
}
.txt-secondary-2 {
  background-color: var(--secondary-2);
}
.txt-accent-1 {
  background-color: var(--secondary-1);
}
.txt-accent-2 {
  background-color: var(--secondary-2);
}
