:root {
  --primary-1: #003049;
  --primary-2: #d62828;
  --secondary-1: #eae2b7;
  --secondary-2: #fcbf49;
  --accent-1: #f77f00;
  --accent-2: #33b8ff;
  --accent-3: #ffba70;
  --black: black;
  --white: white;
}
